{% extends "base.html" %}
{% block content %}
{% if users %}
    <table border="1", cellpadding="10">
        <thead>
        <tr bgcolor="#f5f5dc">
            <td><b>UID</b></td>
            <td><b>유저명</b></td>
            <td><b>이메일</b></td>
            <td><b>폰번호</b></td>
            <td><b>프로필 URL</b></td>
            <td><b>공급자 ID</b></td>
            <td><b>비활성화</b></td>
            <td><b>권한</b></td>
            <td><b>마지막 로그인</b></td>
            <td><b>마지막 토큰발급일</b></td>
            <td><b>계정생성일</b></td>
            <td><b>관리자의 절대 권력!</b></td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'user_token_info' %}?uid={{user.uid}}">{{user.uid}}</a></td>
            <td>{{user.display_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone_number}}</td>
            <td>{{user.photo_url}}</td>
            <td>{{user.provider_id}}</td>
            <td>{{user.disabled}}</td>
            <td>{{user.claims}}</td>
            <td>{{user.last_sign_in_timestamp}}</td>
            <td>{{user.tokens_valid_after_timestamp}}</td>
            <td>{{user.creation_timestamp}}</td>
            <td><button type="button" onclick="location.href='{% url 'user_update' %}?uid={{user.uid}}'">수정하기</button>
            <button type="button" onclick="location.href='{% url 'user_delete' %}?uid={{user.uid}}'">삭제하기</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}
<button type="button" onclick="location.href='{% url 'synchronization' %}'">동기화</button>
<button type="button" onclick="location.href='{% url 'home' %}'">뒤로가기</button>
{% if token_info %}
    <hr>
    <h3>Token Info of {{token_info.uid}}</h3>
    id token: {{token_info.id_token}}<br>
    refresh token: {{token_info.refresh_token}}<br>
    creation_timestamp: {{token_info.creation_timestamp}}<br>
    expire: {{token_info.expire}}<br>
    expire_in: {{token_info.expire_in}}<br>
    kind: {{token_info.kind}}<br>

{% endif %}
{% if message %}
    <p><hr>
    <p>{{message}}</p>
{% endif %}
{% endblock content %}
